.experience {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 8px;
    background-color: #f4edf0;
    opacity: 0.8;
    background-image: linear-gradient(#660033 1px, transparent 1px), linear-gradient(to right, #660033 1px, #f4edf0 1px) ;
    background-size: 20px 20px;
}

h4 {
    font-variant: small-caps;
    color: #660033;
}

.experienceDisplay {
    padding: 5px;
    background-color: white;
    width: 60%;
    margin: 0px auto; 
}

.experienceDisplay:hover {
    font-variant: small-caps;
    font-size: large;
    color: #660033;
    cursor: pointer;
}

.section {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
}

.section>ul {
    text-align: left;
}

.subsection {
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
}

.subsection>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left;
    margin: 5px auto;
    padding-inline-start: 0;
}