.experience {
    text-align: left; 
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

h4 {
    font-variant: small-caps; 
    color: #660033;
}

.experienceDisplay {
    width: 50%;
    margin: 10px auto;
}

.experienceDisplay:hover {
    font-variant: small-caps;
    font-size: large;
    color: #660033;
    cursor: pointer;
}

.section {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.section > ul {
    text-align: left; 
}

.subsection {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.subsection > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left; 
    margin: 0 auto;
    padding-inline-start: 0;
}