body {
    position: relative;  
}

.main {
    color: #33001a;
    height: 100vh; 
    justify-content: center; 
    width: 100vw;
    margin-top: 5%;
}

.bio {
    background-color:rgb(102, 0, 51, .5);
}

.bioStart {
    display: flex; 
    justify-content: space-between;
    margin-top: 10px; 
}

.bioInfo {
    width: 50%; 
    margin: 0 auto;
}

.bioPhotoArea {
    margin: 0 auto;
}

.bioPhoto {
    border: 2px white solid;
}

.LI {
    color: white; 
    text-decoration: none; 
}

.bioIntro {
    margin: 5px;
}

.petColumns {
    display: flex; 
    justify-content: space-around; 
}

.petPhoto > img {
    border: 2px white solid;
}