
@media only screen and (max-width:800px) {
    div.main {
        width: 100%;
    }

    div.bioPhotoArea {
        flex-direction: column; 
    }

    img.bioPhoto, img.petPhoto {
        height: 200px;
    }

    div.bioInfo {
        height: fit-content; 
    }

    a.scroll { 
        flex-direction: column; 
        background-color: rgb(244, 237, 240, .5);
    }

    div.bioIntro, div.experience {
        width: 90%; 
        margin: 5px auto; 
    }

    div.project {
        margin: 5px auto;
        width: 90%; 
    }

    p.projectCaption {
        font-size: smaller; 
    }

    div.subsection > ul {
        flex-direction: column; 
    }

    div.secretArea {
        color: rgb(102, 0, 51, .5); 
    }

}