.project {
    display: flex;
    background-color: rgb(102, 0, 51, .5);
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

.projectCarousel {
    width: 60%;
    position: relative;  
    height: fit-content;
    text-align: center;
}

.projectImageArea {
    display: flex; 
    justify-content: center; 
    padding-bottom: 10px;
}

.projectImage {
    max-width: 95%;
    width: fit-content;
    margin: 10px;
    border: solid 1px #660033;
}

.projectCaption {
    position: absolute;
    bottom: 0;
    margin: auto;
    border: solid 1px #660033;
    background-color: #660033;
    color: white; 
    width: 95%;
    align-self: center; 
    z-index: 1;
    text-align: center; 
}

.previous, .next {
    position: absolute; 
    top: 50%;
    width: auto;
    transition: 0.6s ease;
    z-index: 1;
    background-color: #660033;
    color: white; 
}
.previous {
    left: 0;
}

.next {
    right: 0;
  }

.projectInfo {
    width: 40%;
    margin-left: 10px;
}

.projectLists {
    display: flex;
    justify-content: space-around;
}

.listName {
    font-weight: bold;
}

.projectSkills {
    margin-left: 5px;
}

.portfolio {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 115px;
}